body {
    font-family: 'Roboto', sans-serif;
    background-color: $neutral-color;
    color: $text-color;
  }
  
  button.primary {
    background-color: $secondary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  
  button.secondary {
    background-color: $success-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: lighten($success-color, 10%);
    }
  }
  