// Colores Principales
$primary: #2a5262;    // Azul Marino
$secondary: #E9C46A;  // Amarillo Mostaza
$extra: #d6d6d6;

// Colores Secundarios
$success: #4CAF50;    // Verde
$error: #E76F51;      // Rojo
$warning: #F4A261;    // Naranja
$neutral: #F4F4F4;    // Gris Claro
$text: #1a1a1a;       // Negro

// Otros
$card: #e2e2e2;
$info: #2A9D8F;       // Azul Claro para información adicional
$dark: #212529;       // Negro más oscuro para fondos
$light: #c7c7c7;      // Blanco para fondos o textos claros
