@import '../styles/custom.scss';

.toast-container {
  z-index: 1050;  // Asegura que esté encima de otros elementos
}

.toast {
  border-radius: 0.375rem;
  opacity: 0.9;
}

.toast-body {
  font-size: 1rem;
  font-weight: 500;
}

.toast-body {
  background-color: $neutral;
  color: $primary;
}

.btn-close-white {
  color: $neutral;
}
