@import "../styles/custom.scss"; // Importa tu paleta de colores personalizada

.toast-container {
  z-index: 1050; // Asegura que esté siempre al frente
  padding: 1rem;

  .toast {
    border-radius: 0.5rem;
    opacity: 0.95;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave para profundidad
    overflow: hidden;

    &.text-bg-success {
      background-color: $success !important;
      color: #fff;
    }

    &.text-bg-danger {
      background-color: $error !important;
      color: #fff;
    }

    &.text-bg-warning {
      background-color: $warning !important;
      color: #333;
    }

    &.text-bg-info {
      background-color: $info !important;
      color: #fff;
    }

    .toast-header {
      background-color: rgba(0, 0, 0, 0.041); // Fondo semi-transparente
      font-weight: 600;
      color: $text;

      .btn-close-white {
        color: #fff;
        filter: brightness(0) invert(1); // Asegura un icono blanco
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .toast-body {
      font-size: 1rem;
      font-weight: 400;
      padding: 0.75rem 1rem;
      color: #fff;

      &.text-dark {
        color: $text;
      }
    }
  }
}